@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Apply global box-sizing rule */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Define color variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --text-color: #333;
  --background-color: #f8f9fa;
}


/* Base styles for body */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-color: var(--background-color); */
  /* padding: 16px; */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 8px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p {
  margin-bottom: 16px;
}

/* Link styles */
a {
  color: var(--primary-color);
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

ul {
list-style-type: none;
}

/* mobile styling start here */


/* header styling start here */
.headerContainer {
  padding: 20px
}

.desktopHeader {
  display: none;
}

.headerContainer .mobile-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.mobile-header .fa-bars {
  font-size: 20px;
}

.mobile-header .menu-list {
  width: 100%;
  position: fixed;
  height: 100vh;
  transition: all ease-in 1s;
  transform: translateX(100%);
  top: 0;
  left: 0;
  background-color: #fff;
}

.mobile-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 10%;
}

header li a {
  font-size: 14px;
  color: #12141D;
  font-weight: 700;
  text-transform: capitalize;
}

header li a:hover {
  color: #043A53;
}

.menu-list .crossIcon {
  position: fixed;
  right: 5%;
  top: 1%;
}

.mobile-header .showMenuList {
  transition: all ease-in 1s;
  transform: translateX(0);
}

/* header styling end here */



/* banner styling start here */

.left-banner, .right-banner {
  display: none;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F6;
  padding: 40px 15px 90px;
}

.bannerContainer h1 span {
  color: #043A53;
}

.bannerContainer .bannerDescription {
  display: flex;
  flex-direction: column;
}

.bannerDescription h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #12141D;
  text-align: center;
}

.bannerDescription p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #12141D;
  margin: 6px 0 34px;
  text-align: center;
}

.get-started {
  display: flex;
  flex-direction: column;
}

.get-started a {
  padding: 16px;
  border-radius: 55px;
  min-width: 141px;
  max-width: 141px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  background-color: #043A53;
  text-transform: capitalize;
  transition: all ease-in .3s;
  text-decoration: none;
}

.get-started button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  column-gap: 10px;
}

.get-started a:hover {
  background-color: #fff; 
  color: #043A53;
  transition: all ease-in .3s;
}

.get-started button span {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #043A53;
}

.get-started .socialImg {
  width: 100%;
  margin-top: 20%;
}

/* banner styling end here */


/* trusted section start here */

.trusted-brand {
  width: 82%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  background-color: #fff;
}

.trusted-brand h2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.trusted-brand .brand-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  column-gap: 10%;
  row-gap: 15px;
}

.brand-list li {
  flex-basis: 25%;
}

.brand-list img {
  width: 100%;
  min-height: 13px;
  max-width: 160px;
}

/* trusted section end here */

/* high level section start here */
.high-level-sales {
  background-color: #043A53;
  padding: 50px 22px 0;
}

.high-level-sales .title-description {
  display: flex;
  flex-direction: column;
}

.high-level-sales .title-description h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}

.title-description h2 span {
  color: #F0B73F;
}

.high-level-sales .title-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 18px 0;
}

.high-level-sales img {
  width: 100%;
  margin-bottom: -2%;
  border-radius: 10px 10px 0 0 ;
}

/* high level section end here */




/* mobile styling end here */


/*desktop styling start here */



 /* header start here */

 @media screen and (min-width:1024px) {
  
  /* header start here */

  header {
    background-color: #F2F5F6;
  }

  .headerContainer {
    width: min(97%, 1400px);
    margin: 0 auto;
    padding: 20px 0;
  }
  

  .headerContainer .mobile-header {
    display: none;
  }

  .desktopHeader {
    display: flex;
    justify-content: space-between;
  }

  .desktopHeader ul {
    display: flex;
  flex-basis: 34.4%;
  justify-content: space-between;
  }

  .menu a {
    font-size: 16px;
    font-weight: 700;
    color: #12141D;
  }

  .menu a:hover {
    color: #043A53;
  }

  .ctaContainer {
    display: flex;
    column-gap: 10px;
  }

  .ctaContainer button {
    min-width: 92px;
    padding: 16px;
    font-size: 16px;
    font-weight: 800;
    color: #12141D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    border: none;
    text-transform: capitalize;
    transition: all ease-in .3s;
    cursor: pointer;
    background-color: #fff;
  }

  .ctaContainer .signUp {
    background-color: #043A53;
    color: #fff;
  }

  .ctaContainer .login:hover {
     background-color: #043A53; 
     color: #fff;
     transition: all ease-in .3s;
  }

  .ctaContainer .signUp:hover {
    background-color: #fff; 
    color: #043A53;
    transition: all ease-in .3s;
 }

/* header end here */

/* banner start here */

.left-banner, .right-banner {
  display: block;
}

.banner {
  background-color: #F2F5F6;
}

.bannerContainer {
  flex-direction: row;
  width: 77%;
  max-width: 1115px;
  margin: 0 auto;
}

.bannerDescription h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 800;
  margin-bottom: 0;
}

.bannerDescription p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

.bannerDescEdit {
  display: flex;
  flex-direction: column;
}

.socialImg {
  display: none;
}

.get-started {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.get-started a {
  margin: 0;
}

.get-started button {
  margin-top: 0;
}
/* banner end here */

/* trusted section start here */

.trusted-brand {
  background-color: #F2F5F6;
  width: 100%;
}

.trusted-brand .wrapper {
  display: flex;
  flex-direction: row;
  width: 79%;
  max-width: 1144px;
  column-gap: 9%;
  margin: 0 auto;
  justify-content: center;
}

.trusted-brand h2 {
  font-size: 16px;
  line-height: 24px;
}

.trusted-brand .brand-list {
  flex-wrap: unset;
  width: 71%;
}

.brand-list li {
  flex-basis: auto;
}
/* trusted section end here */


/* high level section start here */

.high-level-sales {
  padding: 100px 0 0;
}

.high-level-sales .wrapper {
  width: 79.16%;
  margin: 0 auto;
  max-width: 1140px;
}

.high-level-sales .title-description {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.high-level-sales .title-description h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  width: 54%;
}

.high-level-sales .title-description p {
  font-size: 20px;
  line-height: 30px;
  width: 38%;
  margin: 0;
}

.high-level-sales img {
  margin-bottom: -1%;
}

/* high level section end here */
 }



/* desktop styling end here */