@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Apply global box-sizing rule */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Define color variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #28a745;
  --text-color: #333;
  --background-color: #f8f9fa;
}


/* Base styles for body */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* background-color: var(--background-color); */
  /* padding: 16px; */
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 8px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

p {
  margin-bottom: 16px;
}

/* Link styles */
a {
  color: var(--primary-color);
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

ul {
list-style-type: none;
}

/* mobile styling start here */


/* header styling start here */
.headerContainer {
  padding: 20px
}

.desktopHeader {
  display: none;
}

.headerContainer .mobile-header {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.mobile-header .fa-bars {
  font-size: 20px;
}

.mobile-header .menu-list {
  width: 100%;
  position: fixed;
  height: 100vh;
  transition: all ease-in 1s;
  transform: translateX(100%);
  top: 0;
  left: 0;
  background-color: #fff;
}

.mobile-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 10%;
}

header li a {
  font-size: 14px;
  color: #12141D;
  font-weight: 700;
  text-transform: capitalize;
}

header li a:hover {
  color: #043A53;
}

.menu-list .crossIcon {
  position: fixed;
  right: 5%;
  top: 1%;
}

.mobile-header .showMenuList {
  transition: all ease-in 1s;
  transform: translateX(0);
}

/* header styling end here */



/* banner styling start here */

.left-banner, .right-banner {
  display: none;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F6;
  padding: 40px 15px 90px;
}

.bannerContainer h1 span {
  color: #043A53;
}

.bannerContainer .bannerDescription {
  display: flex;
  flex-direction: column;
}

.bannerDescription h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #12141D;
  text-align: center;
}

.bannerDescription p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #12141D;
  margin: 6px 0 34px;
  text-align: center;
}

.get-started {
  display: flex;
  flex-direction: column;
}

.get-started a {
  padding: 16px;
  border-radius: 55px;
  min-width: 141px;
  max-width: 141px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #fff;
  background-color: #043A53;
  text-transform: capitalize;
  transition: all ease-in .3s;
  text-decoration: none;
}

.get-started button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: none;
  background-color: transparent;
  column-gap: 10px;
}

.get-started a:hover {
  background-color: #fff; 
  color: #043A53;
  transition: all ease-in .3s;
}

.get-started button span {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #043A53;
}

.get-started .socialImg {
  width: 100%;
  margin-top: 20%;
}

/* banner styling end here */


/* trusted section start here */

.trusted-brand {
  width: 82%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  background-color: #fff;
}

.trusted-brand h2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.trusted-brand .brand-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  column-gap: 10%;
  row-gap: 15px;
}

.brand-list li {
  flex-basis: 25%;
}

.brand-list img {
  width: 100%;
  min-height: 13px;
  max-width: 160px;
}

/* trusted section end here */

/* high level section start here */
.high-level-sales {
  background-color: #043A53;
  padding: 50px 22px 0;
}

.high-level-sales .title-description {
  display: flex;
  flex-direction: column;
}

.high-level-sales .title-description h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0;
}

.title-description h2 span {
  color: #F0B73F;
}

.high-level-sales .title-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 18px 0;
}

.high-level-sales img {
  width: 100%;
  margin-bottom: -2%;
  border-radius: 10px 10px 0 0 ;
}

/* high level section end here */


/* beneficial section start here */

.beneficial {
  display: flex;
  flex-direction: column;
  padding: 50px 22px 80px;
}

.beneficial-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.beneficial-description a {
  background-color: #043A53;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 14px;
}

.beneficial-description h2 {
  font-size: 30px;
  margin: 16px 0;
  font-weight: 700;
  line-height: 38px;
  color: #12141D;
}

.beneficial-description p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.beneficial ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.beneficial li {
  background-color: #F2F5F6;
  border-radius: 16px;
  padding: 20px 30px;
}

.beneficial li h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #12141D;
  margin: 26px 0 15px;
}

.beneficial li p {
  font-size: 14px;
  line-height: 20px;
  color: #404040;
}

/* beneficial section end here */

/* building bridges, achivement number and meet founder wrapper start here */ 
.bridge-achivement-founder-wrapper {
  display: flex;
  flex-direction: column;
}

/* builing bridges section end here */
.builing-bridges {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}


.building-description {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.building-description h2 {
  font-size: 30px;
  line-height: 38px;
  color: #12141D;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.building-description h2 span {
  color: #92A7B0;
}

.building-description p {
  font-size: 14px;
  line-height: 20px;
  color: #12141D;
  margin: 7px 0 14px;
}

.building-description .reward-redirection {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  display: flex;
  padding: 15px 24px;
  column-gap: 20px;
  background-color: #043A53;
  border-radius: 50px;
  min-width: 205px;
}

.reward-redirection span {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.reward-redirection .arrow {
  background-color: #F2F5F629;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.reward-container {
  position: relative;
}

.reward-container .best-reward {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #043A53;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  position: absolute;
  bottom: 8%;
  right: 8%;
  padding:0px 2px 15px;
}

.reward-container .best-reward .diamond {
  background-color: #F2F5F629;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.reward-container .best-reward .number {
  font-size: 36px;
  line-height: 44px;
  color: #fff;
}

.reward-container .best-reward .award-text {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.main-img-desktop {
  display: none;
}

.reward-container .main-img-mobile {
  width: 80%;
  position: relative;
  left: 0;
}


.best-reward .diamond {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-reward .number {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}

.best-reward .award-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}


/* builing bridges section end here */

 /* achievment numbers section start here */
 .achivement-numbers {
  padding: 100px 20px 100px;
}

.achivement-numbers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}

.achivement-numbers li {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  flex-basis: 50%;
  align-items: center;
}

.achivement-numbers ul .number {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #043A53;
}

.achivement-numbers ul .description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #404040;
}
/* achievment numbers section end here */

/* meet founder section end here */
.founder-wrapper {
  display: flex;
  flex-direction: column;
}

.founder-wrapper .founder-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.founder-details h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #12141D;
  margin: 0;
}

.founder-details p {
  font-size: 16px;
  line-height: 24px;
  color: #12141D;
  font-weight: 500;
  margin: 18px 0;
  text-align: center;
}

.founder-details .name-designation {
  display: flex;
  flex-direction: column;
}

.name-designation .name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #12141D;
}

.name-designation .designation {
  font-size: 12px;
  line-height: 18px;
  color: #404040;
}

.founder-details .see-team {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 16px 22px;
  column-gap: 20px;
  background-color: #043A53;
  border-radius: 50px;
  margin-top: 30px;
}

.see-team span {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.see-team .arrow {
  background-color: #F2F5F629;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.founder-wrapper  img {
  width: 100%;
  margin-top: 20px;
}

.founder-wrapper .man-desktop {
  display: none;
}
/* meet founder section end here */

 /* we-believe section end here */

 .we-believe {
  background-color: #F2F5F6;
}

.we-believe .believe-wrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 0 55px;
  position: relative;
}

.believe-wrapper .title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  color: #12141D;
  text-align: center;
  width: 85%;
  margin: 0 auto 20px;
  text-transform: capitalize;
}

.believe-wrapper .title .see-all {
  display: none;
}

.believe-wrapper .swiper {
  width: 100%;
  height: 100%;
  padding: 4px 0 0 0;
}

.believe-wrapper .swiper-slide {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px #00000014;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.believe-wrapper .swiper-slide p  {
  font-size: 16px;
  line-height: 24px;
  color: #12141D;
  margin: 10px 0 15px;
}

.believe-wrapper .swiper-slide .quote {
  width: 40px;
  height: 40px;
}

.believe-wrapper .trust-people {
  display: flex;
  column-gap: 10px;
}

.believe-wrapper .trust-people img {
  width: 40px;
  height: 40px;
}

.trust-people .name-designation {
  display: flex;
  flex-direction: column;
}

.trust-people .name-designation .name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #12141D;
}

.trust-people .name-designation .designation {
  font-size: 12px;
  line-height: 18px;
  color: #404040;
}


.believe-wrapper .swiper-pagination {
  /* position: absolute;
  top: 2% !important; */
  position: relative !important;
  width: 100%;
  text-align: center;
  z-index: 10;
  margin: 10px 0 15px;
}

.believe-wrapper .swiper-pagination-bullet {
  width: 20px !important;
  height: 12px !important;
  border-radius: 10px !important;
  background-color: #000 !important;
}

.believe-wrapper .swiper-pagination-bullet-active {
  width: 100px !important;
  height: 12px !important;
  border-radius: 10px !important;
  background-color: #043A53 !important;
}


.see-all {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  text-transform: capitalize;
  align-items: center;
  margin-top: 30px;
}

.see-all .text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #12141D;
}

.see-all .fa-arrow-right {
  color: #043A53;
  font-size: 20px;
}


/* we believe section end here */



/* mobile styling end here */


/*desktop styling start here */



 /* header start here */

 @media screen and (min-width:1024px) {
  
  /* header start here */

  header {
    background-color: #F2F5F6;
  }

  .headerContainer {
    width: min(97%, 1400px);
    margin: 0 auto;
    padding: 20px 0;
  }
  

  .headerContainer .mobile-header {
    display: none;
  }

  .desktopHeader {
    display: flex;
    justify-content: space-between;
  }

  .desktopHeader ul {
    display: flex;
  flex-basis: 34.4%;
  justify-content: space-between;
  }

  .menu a {
    font-size: 16px;
    font-weight: 700;
    color: #12141D;
  }

  .menu a:hover {
    color: #043A53;
  }

  .ctaContainer {
    display: flex;
    column-gap: 10px;
  }

  .ctaContainer button {
    min-width: 92px;
    padding: 16px;
    font-size: 16px;
    font-weight: 800;
    color: #12141D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 55px;
    border: none;
    text-transform: capitalize;
    transition: all ease-in .3s;
    cursor: pointer;
    background-color: #fff;
  }

  .ctaContainer .signUp {
    background-color: #043A53;
    color: #fff;
  }

  .ctaContainer .login:hover {
     background-color: #043A53; 
     color: #fff;
     transition: all ease-in .3s;
  }

  .ctaContainer .signUp:hover {
    background-color: #fff; 
    color: #043A53;
    transition: all ease-in .3s;
 }

/* header end here */

/* banner start here */

.left-banner, .right-banner {
  display: block;
}

.banner {
  background-color: #F2F5F6;
}

.bannerContainer {
  flex-direction: row;
  width: 77%;
  max-width: 1115px;
  margin: 0 auto;
}

.bannerDescription h1 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 800;
  margin-bottom: 0;
}

.bannerDescription p {
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
}

.bannerDescEdit {
  display: flex;
  flex-direction: column;
}

.socialImg {
  display: none;
}

.get-started {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.get-started a {
  margin: 0;
}

.get-started button {
  margin-top: 0;
}
/* banner end here */

/* trusted section start here */

.trusted-brand {
  background-color: #F2F5F6;
  width: 100%;
}

.trusted-brand .wrapper {
  display: flex;
  flex-direction: row;
  width: 79%;
  max-width: 1144px;
  column-gap: 9%;
  margin: 0 auto;
  justify-content: center;
}

.trusted-brand h2 {
  font-size: 16px;
  line-height: 24px;
}

.trusted-brand .brand-list {
  flex-wrap: unset;
  width: 71%;
}

.brand-list li {
  flex-basis: auto;
}
/* trusted section end here */


/* high level section start here */

.high-level-sales {
  padding: 100px 0 0;
}

.high-level-sales .wrapper {
  width: 79.16%;
  margin: 0 auto;
  max-width: 1140px;
}

.high-level-sales .title-description {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.high-level-sales .title-description h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  width: 54%;
}

.high-level-sales .title-description p {
  font-size: 20px;
  line-height: 30px;
  width: 38%;
  margin: 0;
}

.high-level-sales img {
  margin-bottom: -1%;
}

/* high level section end here */

/* beneficial section start here */

.beneficial {
  flex-direction: row;
  width: 79%;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 100px 0 200px;
}

.beneficial-description {
  flex-basis: 23%;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.beneficial-description a {
  font-size: 18px;
  line-height: 35px;
  padding: 5px 24px;
  min-width: 125px;
}

.beneficial-description h2 {
  font-size: 40px;
  line-height: 52px;
  margin: 35px 0 32px;
  text-transform: capitalize;
}

.beneficial-description p {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.beneficial-description ul {
  column-gap: 5%;

}

.beneficial ul {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 0;
  width: 70%;
}

.beneficial li {
  flex-basis: 31.8%;
  padding: 20px 25px;
}

.beneficial li h3 {
  font-size: 24px;
  line-height: 32px;
  margin: 26px 0 12px;
}

.beneficial li p {
  font-size: 18px;
  line-height: 28px;
}

/* beneficial section end here */

/* builing bridges section start here */
.builing-bridges {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  column-gap: 9%;
  margin-top: 30px;
}

.building-description {
  width: 46%;
  align-items: flex-start;
  text-align: left;
}


.building-description h2 {
  font-size: 35px;
  line-height: 44px;
  text-align: left;
}

.building-description p {
  font-size: 20px;
  line-height: 30px;
  margin: 26px 0 20px;
  width: 79%;
}

.building-description .reward-redirection {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  display: flex;
  padding: 18px 24px;
  column-gap: 20px;
  background-color: rgba(4, 58, 83,1);
  border-radius: 50px;
  min-width: 205px;
  transition: all ease-in .3s;
}

.building-description .reward-redirection:hover {
  background-color: rgba(4, 58, 83, 0.5);
  transition: all ease-in .3s;
}

.reward-container {
  order: -1;
  width: 44%;
}

.reward-container .main-img-mobile {
  display: none;
}

.reward-container .main-img-desktop {
  width: 100%;
  display: block;
}

.reward-container .best-reward {
  width: 170px;
  height: 170px;
  padding: 0;
  right: -12%;
  bottom: 7%;
  row-gap: 14px;
}

.reward-container .best-reward .diamond {
  width: 45px;
  height: 45px;
}

.diamond img {
  width: 73%;
}

.best-reward .number {
  font-size: 32px;
  line-height: 60px;
}

.reward-container .best-reward .award-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}

/* builing bridges section end here */


 /* achievment numbers section start here */

 .achivement-numbers {
  order:-2;
 }

.achivement-numbers ul {
  display: flex;
  flex-wrap: unset;
  width: 100%;
  justify-content: center;
  row-gap: 30px;
}

.achivement-numbers li {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  flex-basis: 20%;
  align-items: center;
}

 /* achievment numbers section end here */

 /* meet founder section end here */
 .meet-founder {
  width: 79.86%;
  max-width: 1150px;
  margin: 4% auto 0;
  order:-1;
}

.founder-wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.founder-wrapper figure {
  flex-basis: 50%;
}

.founder-wrapper .founder-details {
  flex-basis: 45%;
  align-items: flex-start;
  padding: 0;
}

.founder-details h2 {
  font-size: 40px;
  line-height: 58px;
  margin: 0;
}

.founder-details p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin: 18px 0;
  text-align: left;
}

.founder-details .name-designation {
  display: flex;
  flex-direction: column;
}

.name-designation .name {
  font-size: 20px;
  line-height: 30px;
}

.name-designation .designation {
  font-size: 16px;
  line-height: 24px;
}

.founder-details .see-team {
  width: auto;
  margin: 60px 0 0 0;
}

.founder-details .man-desktop {
  flex-basis: 50%;
}

.founder-wrapper .man-mobile {
  display: none;
}

.founder-wrapper .man-desktop {
  display: block;
}

.founder-wrapper .man-desktop img {
  margin: 0;
  width: 100%;
}

 /* meet founder section end here */


     /* we believe section start here */

     .we-believe .believe-wrapper {
      padding: 60px 0 70px;
    }

     .believe-wrapper {
      width: 79%;
      margin: 0 auto;
      max-width: 1140px;
    }

    .believe-wrapper .title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 40px;
    }


    .believe-wrapper .title h2 {
      font-weight: 700;
      font-size: 40px;
      line-height: 60px;
      color: #12141D;
      text-align: left;
      width: 68%;
      margin: 0;
      text-transform: capitalize;
    }

    .believe-wrapper .title .see-all {
      display: flex;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .believe-wrapper .see-all {
      display: none;
    }

    .believe-wrapper  .swiper-pagination {
      position: absolute !important;
      bottom: 1% !important;
      width: 100%;
      text-align: center;
      z-index: 10;
      margin: 10px 0 15px;
    }

    /* we believe section end here */

 }



@media screen and (min-width:1280px) {
  
  /* beneficial section start here */

  .beneficial-description h2 {
    font-size: 60px;
    line-height: 72px;
    margin: 35px 0 32px;
    text-transform: capitalize;
  }
  
  .beneficial-description p {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  /* beneficial section end here */


  /* builing bridges section start here */

  .builing-bridges {
    margin-top: 50px;
  }

  .reward-container .best-reward .diamond {
    width: 56px;
    height: 56px;
  }
  
  .diamond img {
    width: 73%;
  }
  
  .best-reward .number {
    font-size: 48px;
    line-height: 60px;
  }

  .trusted-brand .brand-list {
    flex-wrap: unset;
    width: 71%;
  }
  
  .reward-container .best-reward .award-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .reward-container .best-reward {
    width: 229px;
    height: 229px;
    padding: 0;
    right: -12%;
    bottom: 7%;
    row-gap: 14px;
  }

  .building-description h2 {
    font-size: 60px;
    line-height: 72px;
    text-align: left;
  }
  
  .building-description p {
    font-size: 20px;
    line-height: 30px;
    margin: 26px 0 20px;
    width: 79%;
  }
  /* builing bridges section end here */

   /* achievment numbers section start here */
   .achivement-numbers {
    width: 74.3%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 0px 100px;
  }

  .achivement-numbers ul {
    display: flex;
    flex-wrap: unset;
    width: 100%;
    justify-content: center;
    row-gap: 30px;
  }

  .achivement-numbers li {
    row-gap: 15px;
    flex-basis: 25%;
  }

  .achivement-numbers ul .number {
    font-size: 60px;
    line-height: 72px;
  }

  .achivement-numbers ul .description {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #1E1E1E;
  }
  /* achievment numbers section end here */

    /* meet our founder section start here */

    .meet-founder {
      margin: 7% auto 0;
    }

    .founder-details h2 {
      font-size: 60px;
      line-height: 72px;
      margin: 0;
    }
  
    .founder-details p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 400;
      margin: 18px 0;
      text-align: left;
    }
     /* meet our founder section end here */

     /* we believe start here */

    .we-believe .believe-wrapper {
      padding: 100px 0 150px;
    }

    .believe-wrapper  .swiper-pagination {
      bottom: -5% !important;
    }


    .believe-wrapper .title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 60px;
    }


    .believe-wrapper .title h2 {
      font-weight: 700;
      font-size: 60px;
      line-height: 72px;
      color: #12141D;
      text-align: left;
      width: 80%;
      margin: 0;
      text-transform: capitalize;
    }

    .believe-wrapper .title .see-all {
      display: flex;
      column-gap: 20px;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .believe-wrapper .title .see-all .text {
      font-size: 18px;
      line-height: 28px;
      color: #12141D;
    }
  
    .believe-wrapper .swiper-slide {
      width: 50%;
    }

    .believe-wrapper .swiper-pagination {
      bottom: 9% !important;
    }

    /* we believe start here */
} 

/* desktop styling end here */